body {
  margin: 0;
  padding: 0;
  font-family: Arial;
  color: #444;
}
/*
 * Formatting the header area
 */
.navbar {
  float: right;
  margin-top: 8px;
}
.navbar li {
  display: inline;
}
.navbar li + li {
  margin-left: 35px;
}
.navbar li a {
  color: #444;
  text-decoration: none;
}
