{% extends 'bootstrap/base.html' %}

{% block body %}
<body>

{% block navbar %}
JPL UCR Project
<ul class="nav nav-pills nav-stacked">
    {% for item in nav.top %}
    <li role="presentation class="{{ 'active' if item.is_active else '' }}">
        <a class="nav-link active" href="{{ item.url }}">item.label</a>
    </li
    {% endfor %}
    <li role="presentation" class="nav-item">
        <a class="nav-link active" href="{{ url_for('index') }}">Homepage</a>
    </li>
    <li role="presentation" class="nav-item">
        <a class="nav-link" href="{{ url_for('viewData') }}">Data Visualization</a>
    </li>
    <li role="presentation" class="nav-item">
        <a class="nav-link" href="{{ url_for('classifyData') }}">Data Classification</a>
    </li>
</ul>
{% endblock %}
    {% block content %}{% endblock %}
</body>
{% endblock %}
