{% extends 'base.html' %}

{% block title %}JPL UCR Project - Visualize Data{% endblock %}

{% block content %}
    <div>
        <h1 style="text-align: center">{{title}}</h1>
    </div>
    <a href="#" id="export" class="btn btn-primary btn-lg active" role="button" aria-pressed="true" style="margin-top: 20px;margin-bottom: 20px;">Download</a>
    <!--
    <div class="form-inline">
        <div class="form-inline" id="button-addon4">
            <form class="form-signin"  role="form">
            <input type="text" class="form-control" placeholder="enter username">
            <button id="load" class="btn btn-outline-secondary" type="button">Load</button>
            <button id="save" class="btn btn-outline-secondary" type="button">Save</button>
            <button class="btn btn-outline-secondary" type="button">Download Data</button>
            </form>
        </div>
    </div>
    -->
	<div id="mapid" style="width:100%;height:400px;margin-bottom:40px;"></div>
	<script>
        // create a satellite layer
        var gmaps = L.tileLayer(
            'https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFrYmEwMDIiLCJhIjoiY2syOW40b3NqMHdhazNsbXNybHA2dnAzdSJ9.ihFn0ArkcGyiig4pK58uOQ', 
            {
        	   attribution:'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        	   id: 'mapbox.satellite',
        	   maxZoom:20,
            }
        );

        var alltiles = [
            {
                id:1, 
                name:'colora',
                fullname:'colora_32913_17090_008_170903_L090_CX_01_pauli',
                southwest: L.latLng(28.5997041, -96.7494890),
                northeast: L.latLng(30.0543760, -95.6295661),
                center: L.latLng(29.3270400,-96.1895275)
                geom: {"type":"MultiPolygon","coordinates":[
                [[
                [-96.747753,29.945783],[-96.553166,30.049649],[-95.633558,28.710675],[-95.826213,28.603183],[-96.747753,29.945783]
                ]]
                ]};
            },
            {
                id:2, 
                name:'congar',
                fullname:'congar_11800_18069_009_180923_L090_CX_01_pauli',
                southwest: L.latLng(32.9830551, -81.2265250),
                northeast: L.latLng(34.0524740, -79.1116336),
                center: L.latLng(33.5177646,-80.1690793),
            },
            {
                id:3, 
                name:'cpfear',
                fullname:'cpfear_35303_18065_004_180918_L090_CX_01_pauli',
                southwest: L.latLng(34.1973746, -78.0914970),
                northeast: L.latLng(35.4599200, -77.6520730),
                center: L.latLng(34.8286473,-77.8717850)
            },
            {
                id:4, 
                name:'cscade',
                fullname:'cscade_26901_11057_002_110804_L090_CX_01_pauli',
                southwest: L.latLng(46.0743245, -122.4375998),
                northeast: L.latLng(46.3160661, -121.1862219),
                center: L.latLng(46.1951953,-121.8119108)
            },
            {
                id:5, 
                name:'evergl_1',
                fullname:'evergl_15704_09044_000_090616_L090_CX_01_pauli',
                southwest: L.latLng(25.0729113, -81.4969732),
                northeast: L.latLng(26.0719912, -80.8642559),
                center: L.latLng(25.5724512,-81.1806145)
            },
            {
                id:6, 
                name:'evergl_2',
                fullname:'evergl_26301_10053_003_100622_L090_CX_01_pauli',
                southwest: L.latLng(25.0653662, -81.3126989),
                northeast: L.latLng(25.4000596, -80.1141031),
                center: L.latLng(25.2327129,-80.7134010)
            },
            {
                id:7, 
                name:'gulfco',
                fullname:'gulfco_09010_16020_027_160313_L090_CX_01_pauli',
                southwest: L.latLng(29.8781398, -90.8490730),
                northeast: L.latLng(30.0876010, -89.4716850),
                center: L.latLng(29.9828704,-90.1603790)
            },
            {
                id:8, 
                name:'LAmrsh',
                fullname:'LAmrsh_22201_12051_001_120701_L090_CX_01_pauli',
                southwest: L.latLng(28.8297784, -90.9418581),
                northeast: L.latLng(30.4661315, -89.2123864),
                center: L.latLng(29.6479550,-90.0771223)
            },
            {
                id:9, 
                name:'lngley',
                fullname:'lngley_31201_09059_003_090813_L090_CX_01_pauli',
                southwest: L.latLng(34.5643483, -78.0174909),
                northeast: L.latLng(35.8520068, -76.3141324),
                center: L.latLng(35.2081775,-77.1658117)
            },
            {
                id:10, 
                name:'neches',
                fullname:'neches_16508_17088_012_170901_L090_CX_01_pauli',
                southwest: L.latLng(29.6547337, -94.2957380),
                northeast: L.latLng(31.0666800, -93.6518532),
                center: L.latLng(30.3607069,-93.9737956)
            },
            {
                id:11, 
                name:'NISARP',
                fullname:'NISARP_09811_19071_000_191001_L090_CX_01_pauli',
                southwest: L.latLng(29.2892594, -91.6708050),
                northeast: L.latLng(29.6778460, -90.1859640),
                center: L.latLng(29.4835527,-90.9283845)
            },
            {
                id:12, 
                name:'trinit',
                fullname:'trinit_14940_17090_000_170903_L090_CX_01_pauli',
                southwest: L.latLng(29.3728214, -95.4460520),
                northeast: L.latLng(30.8285490, -94.3116279),
                center: L.latLng(30.1006852,-94.8788400)
            },
            {
                id:13, 
                name:'vislnd',
                fullname:'vislnd_02701_09059_001_090813_L090_CX_01_pauli',
                southwest: L.latLng(29.3728214, -95.4460520),
                northeast: L.latLng(30.8285490, -94.3116279),
                center: L.latLng(30.1006852,-94.8788400)
            }

        ];

        // Create Map data with open street view data
        var map = L.map('mapid', {
            center: [29.4835527,-90.9283845],
            zoom: 12,
            minZoom: 1,
            maxZoom: 20,
            layers: [gmaps],
            fullscreenControl: true
        });
        //map.toggleFullscreen();
        //uavsars.addLayer(uavsar2);

        // setup draw layer
        var drawnItems = L.featureGroup().addTo(map);
        var classificationPicked = false;
        var last_layer;
        var classifications = [
            {id_list:1, name:'Flooded',token:'flooded',color:'#afdeed'},
            {id_list:2, name:'Arid',token:'arid',color:'#e5ebb2'},
            {id_list:2, name:'Urban',token:'urban',color:'#79ed98'}
        ]

        var groupedOverlays = {
            "OpenStreet": {
                "test":gmaps
            },
            "UAVSAR": {
            },
            "drawlayer": {
                "test":drawnItems
            }
        };
        console.log(groupedOverlays.UAVSAR)
        for( i=0 ; i<alltiles.length; i++){
            var uavsar_i = L.tileLayer.boundaryCanvas('/static/alltiles/'+alltiles[i].fullname+'/{z}/{x}/{-y}.png',{
                bounds: L.latLngBounds(alltiles[i].southwest,alltiles[i].northeast),
                opacity: 0.7,
                attribution: "",
                minNativeZoom: 0,
                maxNativeZoom: 15,
                minZoom: 0,
                maxZoom: 20,
                boundary: alltiles[i].geom 
            });
            var m = L.marker(alltiles[i].center,{title:alltiles[i].name});
            m.addTo(map);
            groupedOverlays.UAVSAR[alltiles[i].name]=uavsar_i;
        }

        var options = {
          // Make the "Landmarks" group exclusive (use radio inputs)
          exclusiveGroups: ["OpenStreet","drawlayer"],
          // Show a checkbox next to non-exclusive group labels for toggling all
          groupCheckboxes: true,
          collapsed: true
        };
        var shapes = [];
        // Add base layers
        L.control.groupedLayers(null, groupedOverlays, options).addTo(map);
        map.addControl(new L.Control.Draw({
            /*edit: {
                featureGroup: drawnItems,
                poly: {
                    allowIntersection: false
                },
                remove: false,
                delete: false
            },*/
            draw: {
                polygon: {
                    allowIntersection: false,
                    shapeOptions: {
                        stroke: true,
                        color: '#ffffff',
                        fillColor: '#ffffff',
                        weight: 1,
                        opacity: 1,
                        fillOpacity: 0.4
                    }
                },
                polyline: false,
                circle: false,
                circlemarker: false,
                rectangle: false,
                marker:false
            }
        }));

        map.on(L.Draw.Event.CREATED, function (event) {
            var layer = event.layer;
            last_layer = layer;

            drawnItems.addLayer(event.layer);


            var options = classifications.map(x=>x.token);
            var coordinates = layer.getLatLngs()[0];
            var last = coordinates[0];

            promptClassify( layer , options , last );

            
        });
        
        function promptClassify( layer , options , latlng ){
            classificationPicked=false;
            var content = document.createElement("div");
            for( i=0 ; i<options.length; i++){
                content.innerHTML+="<button id=\"prompt_"+options[i]+"\" type=\"button\" class=\"btn btn-success\" value=\""+options[i]+"\">"+options[i]+"</button>";
            }

            var popup = L.popup({closeButton:false})
                .setLatLng(latlng)
                .setContent(content)
                .openOn(map);


            for(i=0 ; i<options.length; i++){
                $("#prompt_"+options[i]).click(
                    function(event) {
                        console.log(layer);
                        var shape = layer.toGeoJSON();
                        shape.label=$(this).prop('value');
                        saveShape(shape);
                    }               
                );
            }
            
        }

        function saveShape(shape){
            shapes.push(shape);
            classificationPicked=true;
            var i = classifications.map(e => e.token).indexOf(String(shape.label));
            last_layer.setStyle({
                color: classifications[i].color,
                fillColor: classifications[i].color
            });
            map.closePopup();
        }
        map.on('popupclose', function(e) {
            if(classificationPicked==false){
                drawnItems.removeLayer(last_layer);
                shapes.pop();
            } else{
                //drawnItems.removeLayer(last_layer);
                //last_layer.setStyle({color:'red'});
            }
        });
        
        document.getElementById('export').onclick = function(e) {
            console.log("clicked");
            if(shapes.length>0){
                var data = drawnItems.toGeoJSON();
                var convertedData = 'text/json;charset=utf-8,' + encodeURIComponent(JSON.stringify(data));
                document.getElementById('export').setAttribute('href', 'data:' + convertedData);
                document.getElementById('export').setAttribute('download','data.geojson');
            }
        }

	</script>

{% endblock %}
