{% extends 'base.html' %}

{% block title %}JPL UCR Project - Visualize Data{% endblock %}

{% block content %}
    <div>
        <h1 style="text-align: center">{{title}}</h1>
    </div>
    <div>
        <h1>username:{{email}}</h1>
    </div>
    <a href="#" id="export" class="btn btn-primary btn-lg active" role="button" aria-pressed="true" style="margin-top: 20px;margin-bottom: 20px;">Download</a>
    <div class="form-inline">
        <div class="form-inline" id="button-addon4">
            <form class="form-signin"  role="form">
            <button id="load" class="btn btn-outline-secondary" type="button">Load</button>
            <button id="save" class="btn btn-outline-secondary" type="button">Save</button>
            <button class="btn btn-outline-secondary" type="button">Download Data</button>
            </form>
        </div>
    </div>
	<div id="mapid" style="width:100%;height:400px;margin-bottom:40px;"></div>
	<script>
        // create a satellite layer
        var gmaps = L.tileLayer(
            'https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFrYmEwMDIiLCJhIjoiY2syOW40b3NqMHdhazNsbXNybHA2dnAzdSJ9.ihFn0ArkcGyiig4pK58uOQ', 
            {
        	   attribution:'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        	   id: 'mapbox.satellite',
        	   maxZoom:20,
            }
        );


        // Create Map data with open street view data
        var map = L.map('mapid', {
            center: [29.4835527,-90.9283845],
            zoom: 12,
            minZoom: 1,
            maxZoom: 20,
            layers: [gmaps],
            fullscreenControl: true
        });
        //map.toggleFullscreen();
        //uavsars.addLayer(uavsar2);

        // setup draw layer
        var drawnItems = L.featureGroup().addTo(map);
        var classificationPicked = false;
        var last_layer;
        var classifications = [
            {id_list:1, name:'Flooded',token:'flooded',color:'#afdeed'},
            {id_list:2, name:'Arid',token:'arid',color:'#e5ebb2'},
            {id_list:2, name:'Urban',token:'urban',color:'#79ed98'}
        ]

        var groupedOverlays = {
            "OpenStreet": {
                "test":gmaps
            },
            "UAVSAR": {
            },
            "drawlayer": {
                "test":drawnItems
            }
        };
        console.log(groupedOverlays.UAVSAR)
        for( i=0 ; i<alltiles.length; i++){
            var uavsar_i = L.TileLayer.boundaryCanvas('/static/alltiles/'+alltiles[i].fullname+'/{z}/{x}/{-y}.png',{
                bounds: L.latLngBounds(alltiles[i].southwest,alltiles[i].northeast),
                opacity: 1.0,
                attribution: "",
                minNativeZoom: 0,
                maxNativeZoom: 16,
                minZoom: 0,
                maxZoom: 20,
                boundary: alltiles[i].geom
            });
            var m = L.marker(alltiles[i].center,{title:alltiles[i].name});
            m.addTo(map);
            groupedOverlays.UAVSAR[alltiles[i].name]=uavsar_i;
        }

        var options = {
          // Make the "Landmarks" group exclusive (use radio inputs)
          exclusiveGroups: ["OpenStreet","drawlayer"],
          // Show a checkbox next to non-exclusive group labels for toggling all
          groupCheckboxes: true,
          defaultChecked: true,
          collapsed: true
        };
        var shapes = [];
        // Add base layers
        L.control.groupedLayers(null, groupedOverlays, options).addTo(map);
        map.addControl(new L.Control.Draw({
            /*edit: {
                featureGroup: drawnItems,
                poly: {
                    allowIntersection: false
                },
                remove: false,
                delete: false
            },*/
            draw: {
                polygon: {
                    allowIntersection: false,
                    shapeOptions: {
                        stroke: true,
                        color: '#ffffff',
                        fillColor: '#ffffff',
                        weight: 1,
                        opacity: 1,
                        fillOpacity: 0.4
                    }
                },
                polyline: false,
                circle: false,
                circlemarker: false,
                rectangle: false,
                marker:false
            }
        }));
        map.on('draw:drawvertex',
        function (e) {
            $(".leaflet-marker-icon.leaflet-div-icon.leaflet-editing-icon.leaflet-touch-icon.leaflet-zoom-animated.leaflet-interactive:first").css({ 'background-color': 'red' });
        });
        map.on(L.Draw.Event.CREATED, function (event) {
            var layer = event.layer;
            last_layer = layer;

            drawnItems.addLayer(event.layer);


            var options = classifications.map(x=>x.token);
            var coordinates = layer.getLatLngs()[0];
            var last = coordinates[0];

            promptClassify( layer , options , last );

            
        });
        
        function promptClassify( layer , options , latlng ){
            classificationPicked=false;
            var content = document.createElement("div");
            for( i=0 ; i<options.length; i++){
                content.innerHTML+="<button id=\"prompt_"+options[i]+"\" type=\"button\" class=\"btn btn-success\" value=\""+options[i]+"\">"+options[i]+"</button>";
            }

            var popup = L.popup({closeButton:false})
                .setLatLng(latlng)
                .setContent(content)
                .openOn(map);


            for(i=0 ; i<options.length; i++){
                $("#prompt_"+options[i]).click(
                    function(event) {
                        console.log(layer);
                        var shape = layer.toGeoJSON();
                        shape.label=$(this).prop('value');
                        saveShape(shape);
                    }               
                );
            }
            
        }

        function saveShape(shape){
            shapes.push(shape);
            classificationPicked=true;
            var i = classifications.map(e => e.token).indexOf(String(shape.label));
            last_layer.setStyle({
                color: classifications[i].color,
                fillColor: classifications[i].color
            });
            map.closePopup();
        }
        map.on('popupclose', function(e) {
            if(classificationPicked==false){
                drawnItems.removeLayer(last_layer);
                shapes.pop();
            } else{
                //drawnItems.removeLayer(last_layer);
                //last_layer.setStyle({color:'red'});
            }
        });
        
        document.getElementById('export').onclick = function(e) {
            console.log("clicked");
            if(shapes.length>0){
                var data = drawnItems.toGeoJSON();
                var convertedData = 'text/json;charset=utf-8,' + encodeURIComponent(JSON.stringify(data));
                document.getElementById('export').setAttribute('href', 'data:' + convertedData);
                document.getElementById('export').setAttribute('download','data.geojson');
            }
        }

	</script>

{% endblock %}
